/* reponsive */

@media only screen and (max-width: 700px) {

  .home__text {
    font-size: 1.5em;
  }

  .content__header {
    background-image: url(../assets/img/content_bg_700.svg);
  }
}

@media only screen and (max-width: 500px) {

  .home__text {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  .home__header {
    display: flex;
    flex-direction: column;
  }

  .title {
    text-align: center;
  }

  .content__header {
    background-image: url(../assets/img/content_bg_500.svg);
  }
}

@media only screen and (max-width: 350px) {

  .home__text {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  .home__header {
    display: flex;
    flex-direction: column;
  }

  .title {
    text-align: center;
    font-size: 4rem;
  }

  .content__header {
    background-image: url(../assets/img/content_bg.svg);
  }
}
